{% extends "main/base.html" %}

{% block title %}Главная — Учёт материалов и затрат{% endblock %}

{% block content %}
<div class="text-center my-5">
    <h1 class="display-4">Учёт материалов и затрат для ручных работ</h1>
    <p class="lead mt-4">Упростите контроль бюджета и управления ресурсами для ваших хобби и небольшого бизнеса</p>

    {% if not user.is_authenticated %}
        <a href="{% url 'signup' %}" class="btn btn-success btn-lg my-4">Зарегистрироваться</a>
    {% endif %}
</div>

<!-- Новый информационный блок с привлекательным текстом -->
<div class="bg-light py-4 text-center">
    <h2 class="mb-3">Почему вам следует выбрать наше приложение?</h2>
    <p class="lead">Наше приложение предлагает легкость и удобство в использовании. Вы получаете минималистичный интерфейс, который позволяет быстро начать работу и фокусироваться на своих задачах.</p>

    <p class="lead">Гибкость настройки позволяет добавлять материалы и проекты в соответствии с вашими личными потребностями, а возможность отслеживания расходов держит вас в курсе бюджета и затрат на каждом этапе.</p>
</div>

<!-- Кнопки перемещены ниже -->
<div class="text-center mt-4">
    <a href="{% url 'projects_list' %}" class="btn btn-primary btn-lg mt-3">Проекты</a>
    <a href="{% url 'components_list' %}" class="btn btn-primary btn-lg mt-3 ms-2">Компоненты</a>
</div>

<div class="container my-5">
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Отслеживание расходов</h3>
                    <p class="card-text">Создавайте проекты, добавляйте материалы, и автоматически рассчитывайте себестоимость ваших изделий.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Управление запасами</h3>
                    <p class="card-text">Ведите учёт материалов: сколько осталось, где покупали, и сколько стоили.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Простота и контроль</h3>
                    <p class="card-text">Интуитивный интерфейс, который сделает вашу работу более организованной и эффективной.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
