{% extends "main/base.html" %}

{% block title %}Мои проекты{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-4">Мои проекты</h1>
    <a href="{% url 'project_add' %}" class="btn btn-primary">Добавить проект</a>
</div>
{% if projects %}
    <table class="table table-striped table-bordered align-middle">
        <thead class="table-light">
        <tr>
            <th>Название проекта</th>
            <th>Дедлайн</th>
            <th>Количество</th>
            <th>На продажу?</th>
            <th>Себестоимость (цена компонентов)</th>
            <th>Цена продажи</th>
            <th>Итоговая выручка</th>
            <th>Заказчик</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></td>
                <td>{{ project.due_date }}</td>
                <td>{{ project.amount }}</td>

                <td>
                    {% if project.for_sale %}
                        <span class="text-success">Да</span>
                    {% else %}
                        <span class="text-danger">Нет</span>
                    {% endif %}
                </td>


                <td>
                    {% if project.cost %}
                        {{ project.cost }}
                    {% else %}
                        -
                    {% endif %}
                </td>

                <td>
                    {% if project.for_sale %}
                        {{ project.price }}
                    {% else %}
                        -
                    {% endif %}
                </td>

                <td>
                    {% if project.for_sale %}
                        {{ project.profit }}
                    {% else %}
                        -
                    {% endif %}
                </td>

                <td>
                    {% if project.customer_name %}
                        {{ project.customer_name }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">Проекты отсутствуют.</div>
{% endif %}
{% endblock %}
