{% extends "main/base.html" %}

{% block content %}
<h1>{{ project.name }}</h1>

<p><strong>Описание:</strong> {{ project.description }}</p>
<p><strong>Срок:</strong> {{ project.due_date }}</p>
<p><strong>Заказчик:</strong> {{ project.customer_name }}</p>
<p><strong>Цена:</strong> {{ project.price }}</p>
<p><strong>Количество:</strong> {{ project.amount }}</p>
<p><strong>На продажу:</strong>
    {% if project.for_sale %}
        Да
    {% else %}
        Нет
    {% endif %}
</p>

<h2>Компоненты проекта:</h2>
{% if project.project_components_list_set.exists %}
<ul>
    {% for rel in project.project_components_list_set.all %}
        <li>
            {{ rel.component_id.name }} —
            Кол-во: {{ rel.component_id.amount }} {{ rel.component_id.unit_type }}
        </li>
    {% endfor %}
</ul>
{% else %}
    <p>Компоненты не добавлены</p>
{% endif %}



<div style="margin-top: 20px;">
    <a href="{% url 'project_edit' project.pk %}" class="btn btn-warning">Изменить</a>
    <a href="{% url 'project_delete' project.pk %}" class="btn btn-danger">Удалить</a>
</div>

<a href="{% url 'projects_list' %}" style="display: block; margin-top: 30px;">Вернуться к списку проектов</a>
{% endblock %}
